<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <meta name="description" content="A brief description" />
    <meta name="author" content="Rodrigo Pereira" />

    <!-- Open Graph Protocol -->
    <!-- <meta property="og:title" content="page title(page not website)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mysite">
    <meta property="og:description" content="A brief description">
    <meta property="og:image" content="image.png">
    <meta property="og:site_name" content="Site Name"> -->

    <!-- <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <link rel="stylesheet" href="styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img id="logo" src="images/randart-logo.svg" alt="The Randart logo" />
    </header>
    <main>
      <div class="painting-display">
        <img src="<%= artwork.primaryImage%>" alt="Image of the painting '<%= artwork.title %>' by <%= artwork.artistDisplayName %>" />
      </div>
      <div class="painting-description">
        <h2><%= artwork.title %></h2>
        <p><b>Artist: </b><%= artwork.artistDisplayName %></p>
        <p><b>Finish Date: </b><%= artwork.objectEndDate %></p>
        <p><b>Medium: </b><%= artwork.medium %></p>
        <p><b>Dimensions: </b><%= artwork.dimensions %></p>
      </div>
    </main>
    <footer>
      <p>Copyright <%= new Date().getFullYear() %></p>
    </footer>

    <script src="js/scripts.js"></script>
  </body>
</html>
